# node_modules (โฟลเดอร์ library ทั้งหมด)
node_modules/

# build output
dist/
build/
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# system files
.DS_Store
Thumbs.db

# environment variables
.env
.env.*  # สำหรับ env แยกตาม environment เช่น .env.development

# editor/IDE config
.vscode/
.idea/

# test coverage
coverage/

# others
*.local
*.lock
*.log
*.cache
.cache/
.eslintcache
turbo/
